:host([selected]) {
  nys-button {
    --nys-button-background-color: var(--nys-color-neutral-10);
    --_nys-button-border-color: var(--nys-color-theme);
    --_nys-button-border-color--hover: var(--nys-color-theme-strong);
    --_nys-button-border-color--active: var(--nys-color-theme-stronger);
  }
}

nys-button.nys-tab {
  --nys-button-background-color: var(--nys-color-surface);
  --nys-button-background-color--hover: var(--nys-color-theme-weaker);
  --nys-button-background-color--active: var(--nys-color-theme-weak);
  --nys-button-color: var(--nys-color-ink);
  --nys-button-color--hover: var(--nys-color-ink);
  --nys-button-color--active: var(--nys-color-ink);
  --_nys-button-border-color: var(--nys-color-neutral-50);
  --_nys-button-border-color--hover: var(--nys-color-theme-weak);
  --_nys-button-border-color--active: var(--nys-color-theme-mid);
  --_nys-button-border-radius: var(--nys-radius-md, 4px) var(--nys-radius-md, 4px) 0 0;
  --_nys-button-border-style: none none solid none;
  --_nys-button-border-width: var(--nys-size-2px);
  --_nys-button-padding--x: var(--nys-space-150);
  --_nys-button-padding--y: var(--nys-space-200);
}

.nys-tabgroup__tabs {
  display: flex;
  gap: var(--nys-space-100)
}
