:host {
  /* Anything that can be overridden should be defined here */

  /* Global Card Styles */
  --_nys-card-width: fit-content;
  --_nys-card-height: fit-content;
  --_nys-card-border-radius: var(--nys-radius-xl, 12px);
  --_nys-card-border-radius--media: var(--nys-radius-xl, 12px);
  --_nys-card-padding: var(--nys-space-200, 16px) var(--nys-space-300, 24px)
    var(--nys-space-250, 20px);
  --_nys-card-background-color: var(--nys-color-surface, #ffffff);
  --_nys-card-gap: var(--nys-space-150, 12px);

  /* Typography */
  --_nys-card-color: var(--nys-color-text-weak, #4a4d4f);

  /* UI/Medium/Regular */
  --_nys-card-font-family: var(--nys-font-family-ui, "Proxima Nova");
  --_nys-card-font-size: var(--nys-font-size-ui-md, 16px);
  --_nys-card-font-style: normal;
  --_nys-card-font-weight: 400;
  --_nys-card-line-height: var(--nys-font-lineheight-ui-md, 24px); /* 150% */
  --_nys-card-letter-spacing: var(--nys-font-letterspacing-ui-md, 0.044px);
}

:host([inset]) {
  --_nys-card-border-radius--media: var(4px);
}

:host([elevated]) {
  .nys-card {
    box-shadow:
      0 4px 6px -1px
        var(--nys-color-black-transparent-100, rgba(27, 27, 27, 0.1)),
      0 4px 6px -1px
        var(--nys-color-black-transparent-50, rgba(27, 27, 27, 0.01));
  }
}

.nys-card {
  color: var(--_nys-card-color);
  font-family: var(--_nys-card-font-family);
  font-size: var(--_nys-card-font-size);
  font-style: var(--_nys-card-font-style);
  font-weight: var(--_nys-card-font-weight);
  line-height: var(--_nys-card-line-height);
  letter-spacing: var(--_nys-card-letter-spacing);

  width: var(--_nys-card-width);
  max-width: 100%;
  height: var(--_nys-card-height);
  gap: var(--_nys-card-gap);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  border-radius: var(--_nys-card-border-radius);
  border: var(--nys-border-width-sm, 1px) solid
    var(--nys-color-neutral-200, #bec0c1);
  background-color: var(--_nys-card-background-color);

  overflow: hidden;

  &__media-container {
    position: relative;
    width: 100%;
    height: fit-content;

    img {
      display: block;
      max-width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }

    .nys-card--media-accent {
      position: absolute;
      right: 24px;
      bottom: 24px;
      width: 64px;
      height: 64px;
      overflow: hidden;
      background-color: var(--nys-color-accent, #face00);
      border-radius: var(--nys-radius-xxl, 16px);

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      //text styles
      color: var(--nys-color-text);
      font-family: var(--nys-font-family-ui, "Proxima Nova");
      font-style: normal;
      font-weight: 700;

      &-month {
        padding: 0;
        margin: 0;
        /* UI Single Line/Medium/Bold */
        font-size: var(--nys-font-size-ui-md, 16px);
        line-height: var(--nys-font-size-ui-md, 16px); /* 100% */
        letter-spacing: var(--nys-font-letterspacing-ui-md, 0.044px);
      }

      &-day {
        padding: 0;
        margin: 0;

        /* UI Single Line/Extra Large/Bold */
        font-size: var(--nys-font-size-ui-xl, 20px);
        line-height: var(--nys-font-size-ui-xl, 20px); /* 100% */
        letter-spacing: var(--nys-font-letterspacing-ui-xl, 0.017px);
      }
    }
  }

  &__main-content {
    padding: var(--_nys-card-padding);
  }

  &__preheading {
    padding: 0;
    margin: 0;

    color: var(--nys-color-text-weak, #4a4d4f);

    /* UI/Medium/Bold */
    font-family: var(--nys-font-family-ui, "Proxima Nova");
    font-size: var(--nys-font-size-ui-md, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--nys-font-lineheight-ui-md, 24px); /* 150% */
    letter-spacing: var(--nys-font-letterspacing-ui-md, 0.044px);
  }

  &__heading {
    padding: 0;
    margin: 0;

    color: var(--nys-color-text);

    /* UI/Heading/Heading 2/Bold */
    font-family: var(--nys-font-family-heading, "Proxima Nova");
    font-size: var(--nys-font-size-h2, 28px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--nys-font-lineheight-h2, 36px); /* 128.571% */
    letter-spacing: var(--nys-font-letterspacing-h2, 0.013px);
  }

  &__subheading {
    padding: 0;
    margin: 0;

    overflow: hidden;
    color: var(--nys-color-text-weak, #4a4d4f);
    text-overflow: ellipsis;

    /* UI/Large/Semibold */
    font-family: var(--nys-font-family-ui, "Proxima Nova");
    font-size: var(--nys-font-size-ui-lg, 18px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--nys-font-lineheight-ui-lg, 28px); /* 155.556% */
    letter-spacing: var(--nys-font-letterspacing-ui-lg, 0.028px);
  }

  &__description {
    padding: 0;
    margin: 0;

    color: var(--nys-color-text-weak, #4a4d4f);

    /* UI/Medium/Regular */
    font-family: var(--nys-font-family-ui, "Proxima Nova");
    font-size: var(--nys-font-size-ui-md, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--nys-font-lineheight-ui-md, 24px); /* 150% */
    letter-spacing: var(--nys-font-letterspacing-ui-md, 0.044px);
  }
}
