.nys-flex-align-start {
  align-items: flex-start;
}
.nys-flex-align-end {
  align-items: flex-end;
}
.nys-flex-align-center {
  align-items: center;
}
.nys-flex-align-stretch {
  align-items: stretch;
}
.nys-flex-align-baseline {
  align-items: baseline;
}
.nys-flex-align-self-start {
  align-self: flex-start;
}
.nys-flex-align-self-end {
  align-self: flex-end;
}
.nys-flex-align-self-center {
  align-self: center;
}
.nys-flex-align-self-stretch {
  align-self: stretch;
}
.nys-flex-align-self-baseline {
  align-self: baseline;
}
.nys-flex-1 {
  flex: 1 1 0%;
}
.nys-flex-2 {
  flex: 2 1 0%;
}
.nys-flex-3 {
  flex: 3 1 0%;
}
.nys-flex-4 {
  flex: 4 1 0%;
}
.nys-flex-5 {
  flex: 5 1 0%;
}
.nys-flex-6 {
  flex: 6 1 0%;
}
.nys-flex-7 {
  flex: 7 1 0%;
}
.nys-flex-8 {
  flex: 8 1 0%;
}
.nys-flex-9 {
  flex: 9 1 0%;
}
.nys-flex-10 {
  flex: 10 1 0%;
}
.nys-flex-11 {
  flex: 11 1 0%;
}
.nys-flex-12 {
  flex: 12 1 0%;
}
.nys-flex-fill {
  flex: 1 1 0%;
}
.nys-flex-auto {
  flex: 0 1 auto;
}
.nys-flex-row {
  flex-direction: row;
}
.nys-flex-column {
  flex-direction: column;
}
.nys-flex-wrap {
  flex-wrap: wrap;
}
.nys-flex-no-wrap {
  flex-wrap: nowrap;
}
.nys-flex-justify-center {
  justify-content: center;
}
.nys-flex-justify-start {
  justify-content: flex-start;
}
.nys-flex-justify-end {
  justify-content: flex-end;
}
.nys-flex-justify {
  justify-content: space-between;
}
.nys-order-first {
  order: -1!important
}

.nys-order-last {
  order: 999!important
}

.nys-order-initial {
  order: initial!important
}

.nys-order-0 {
  order: 0!important
}

.nys-order-1 {
  order: 1!important
}

.nys-order-2 {
  order: 2!important
}

.nys-order-3 {
  order: 3!important
}

.nys-order-4 {
  order: 4!important
}

.nys-order-5 {
  order: 5!important
}

.nys-order-6 {
  order: 6!important
}

.nys-order-7 {
  order: 7!important
}

.nys-order-8 {
  order: 8!important
}

.nys-order-9 {
  order: 9!important
}

.nys-order-10 {
  order: 10!important
}

.nys-order-11 {
  order: 11!important
}
@media all and (min-width: 30em) {
  .nys-mobile-lg\:flex-justify-center {
    justify-content: center;
  }
  .nys-mobile-lg\:flex-justify-start {
    justify-content: flex-start;
  }
  .nys-mobile-lg\:flex-justify-end {
    justify-content: flex-end;
  }
  .nys-mobile-lg\:flex-justify {
    justify-content: space-between;
  }
}
@media all and (min-width: 40em) {
  .nys-tablet\:flex-justify-center {
    justify-content: center;
  }
  .nys-tablet\:flex-justify-start {
    justify-content: flex-start;
  }
  .nys-tablet\:flex-justify-end {
    justify-content: flex-end;
  }
  .nys-tablet\:flex-justify {
    justify-content: space-between;
  }
}
@media all and (min-width: 64em) {
  .nys-desktop\:flex-justify-center {
    justify-content: center;
  }
  .nys-desktop\:flex-justify-start {
    justify-content: flex-start;
  }
  .nys-desktop\:flex-justify-end {
    justify-content: flex-end;
  }
  .nys-desktop\:flex-justify {
    justify-content: space-between;
  }
}