.nys-opacity-0 {
  opacity: 0;
}
.nys-opacity-10 {
  opacity: 0.1;
}
.nys-opacity-20 {
  opacity: 0.2;
}
.nys-opacity-30 {
  opacity: 0.3;
}
.nys-opacity-40 {
  opacity: 0.4;
}
.nys-opacity-50 {
  opacity: 0.5;
}
.nys-opacity-60 {
  opacity: 0.6;
}
.nys-opacity-70 {
  opacity: 0.7;
}
.nys-opacity-80 {
  opacity: 0.8;
}
.nys-opacity-90 {
  opacity: 0.9;
}
.nys-opacity-100 {
  opacity: 1;
}
