.nys-display-block {
  display: block;
}
.nys-display-flex {
  display: flex;
}
.nys-display-none {
  display: none;
}
.nys-display-inline {
  display: inline;
}
.nys-display-inline-block {
  display: inline-block;
}
.nys-display-inline-flex {
  display: inline-flex;
}
.nys-display-table {
  display: table;
}
.nys-display-table-cell {
  display: table-cell;
}
.nys-display-table-row {
  display: table-row;
}
@media all and (min-width: 30em) {
  .nys-mobile-lg\:display-block {
    display: block;
  }
  .nys-mobile-lg\:display-flex {
    display: flex;
  }
  .nys-mobile-lg\:display-none {
    display: none;
  }
  .nys-mobile-lg\:display-inline {
    display: inline;
  }
  .nys-mobile-lg\:display-inline-block {
    display: inline-block;
  }
  .nys-mobile-lg\:display-inline-flex {
    display: inline-flex;
  }
  .nys-mobile-lg\:display-table {
    display: table;
  }
  .nys-mobile-lg\:display-table-cell {
    display: table-cell;
  }
  .nys-mobile-lg\:display-table-row {
    display: table-row;
  }
}
@media all and (min-width: 40em) {
  .nys-tablet\:display-block {
    display: block;
  }
  .nys-tablet\:display-flex {
    display: flex;
  }
  .nys-tablet\:display-none {
    display: none;
  }
  .nys-tablet\:display-inline {
    display: inline;
  }
  .nys-tablet\:display-inline-block {
    display: inline-block;
  }
  .nys-tablet\:display-inline-flex {
    display: inline-flex;
  }
  .nys-tablet\:display-table {
    display: table;
  }
  .nys-tablet\:display-table-cell {
    display: table-cell;
  }
  .nys-tablet\:display-table-row {
    display: table-row;
  }
}
@media all and (min-width: 64em) {
  .nys-desktop\:display-block {
    display: block;
  }
  .nys-desktop\:display-flex {
    display: flex;
  }
  .nys-desktop\:display-none {
    display: none;
  }
  .nys-desktop\:display-inline {
    display: inline;
  }
  .nys-desktop\:display-inline-block {
    display: inline-block;
  }
  .nys-desktop\:display-inline-flex {
    display: inline-flex;
  }
  .nys-desktop\:display-table {
    display: table;
  }
  .nys-desktop\:display-table-cell {
    display: table-cell;
  }
  .nys-desktop\:display-table-row {
    display: table-row;
  }
}
