/* Uniform Padding */
.nys-padding-1px {
  padding: 1px;
}
.nys-padding-2px {
  padding: 2px;
}
.nys-padding-50 {
  padding: 4px;
}
.nys-padding-100 {
  padding: 8px;
}
.nys-padding-150 {
  padding: 12px;
}
.nys-padding-200 {
  padding: 16px;
}
.nys-padding-250 {
  padding: 20px;
}
.nys-padding-300 {
  padding: 24px;
}
.nys-padding-400 {
  padding: 32px;
}
.nys-padding-500 {
  padding: 40px;
}
.nys-padding-600 {
  padding: 48px;
}
.nys-padding-700 {
  padding: 56px;
}
.nys-padding-800 {
  padding: 64px;
}
.nys-padding-1200 {
  padding: 96px;
}
/* Horizontal Padding */
.nys-padding-x-1px {
  padding-left: 1px;
  padding-right: 1px;
}
.nys-padding-x-2px {
  padding-left: 2px;
  padding-right: 2px;
}
.nys-padding-x-50 {
  padding-left: 4px;
  padding-right: 4px;
}
.nys-padding-x-100 {
  padding-left: 8px;
  padding-right: 8px;
}
.nys-padding-x-150 {
  padding-left: 12px;
  padding-right: 12px;
}
.nys-padding-x-200 {
  padding-left: 16px;
  padding-right: 16px;
}
.nys-padding-x-250 {
  padding-left: 20px;
  padding-right: 20px;
}
.nys-padding-x-300 {
  padding-left: 24px;
  padding-right: 24px;
}
.nys-padding-x-400 {
  padding-left: 32px;
  padding-right: 32px;
}
.nys-padding-x-500 {
  padding-left: 40px;
  padding-right: 40px;
}
.nys-padding-x-600 {
  padding-left: 48px;
  padding-right: 48px;
}
.nys-padding-x-700 {
  padding-left: 56px;
  padding-right: 56px;
}
.nys-padding-x-800 {
  padding-left: 64px;
  padding-right: 64px;
}
.nys-padding-x-1200 {
  padding-left: 96px;
  padding-right: 96px;
}
/* Vertical Padding */
.nys-padding-y-1px {
  padding-top: 1px;
  padding-bottom: 1px;
}
.nys-padding-y-2px {
  padding-top: 2px;
  padding-bottom: 2px;
}
.nys-padding-y-50 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.nys-padding-y-100 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.nys-padding-y-150 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.nys-padding-y-200 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.nys-padding-y-250 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nys-padding-y-300 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.nys-padding-y-400 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nys-padding-y-500 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.nys-padding-y-600 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.nys-padding-y-700 {
  padding-top: 56px;
  padding-bottom: 56px;
}
.nys-padding-y-800 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.nys-padding-y-1200 {
  padding-top: 96px;
  padding-bottom: 96px;
}
/* Single Padding */
.nys-padding-t-1px {
  padding-top: 1px;
}
.nys-padding-r-1px {
  padding-right: 1px;
}
.nys-padding-b-1px {
  padding-bottom: 1px;
}
.nys-padding-l-1px {
  padding-left: 1px;
}
.nys-padding-t-2px {
  padding-top: 2px;
}
.nys-padding-r-2px {
  padding-right: 2px;
}
.nys-padding-b-2px {
  padding-bottom: 2px;
}
.nys-padding-l-2px {
  padding-left: 2px;
}
.nys-padding-t-50 {
  padding-top: 4px;
}
.nys-padding-r-50 {
  padding-right: 4px;
}
.nys-padding-b-50 {
  padding-bottom: 4px;
}
.nys-padding-l-50 {
  padding-left: 4px;
}
.nys-padding-t-100 {
  padding-top: 8px;
}
.nys-padding-r-100 {
  padding-right: 8px;
}
.nys-padding-b-100 {
  padding-bottom: 8px;
}
.nys-padding-l-100 {
  padding-left: 8px;
}
.nys-padding-t-150 {
  padding-top: 12px;
}
.nys-padding-r-150 {
  padding-right: 12px;
}
.nys-padding-b-150 {
  padding-bottom: 12px;
}
.nys-padding-l-150 {
  padding-left: 12px;
}
.nys-padding-t-200 {
  padding-top: 16px;
}
.nys-padding-r-200 {
  padding-right: 16px;
}
.nys-padding-b-200 {
  padding-bottom: 16px;
}
.nys-padding-l-200 {
  padding-left: 16px;
}
.nys-padding-t-250 {
  padding-top: 20px;
}
.nys-padding-r-250 {
  padding-right: 20px;
}
.nys-padding-b-250 {
  padding-bottom: 20px;
}
.nys-padding-l-250 {
  padding-left: 20px;
}
.nys-padding-t-300 {
  padding-top: 24px;
}
.nys-padding-r-300 {
  padding-right: 24px;
}
.nys-padding-b-300 {
  padding-bottom: 24px;
}
.nys-padding-l-300 {
  padding-left: 24px;
}
.nys-padding-t-400 {
  padding-top: 32px;
}
.nys-padding-r-400 {
  padding-right: 32px;
}
.nys-padding-b-400 {
  padding-bottom: 32px;
}
.nys-padding-l-400 {
  padding-left: 32px;
}
.nys-padding-t-500 {
  padding-top: 40px;
}
.nys-padding-r-500 {
  padding-right: 40px;
}
.nys-padding-b-500 {
  padding-bottom: 40px;
}
.nys-padding-l-500 {
  padding-left: 40px;
}
.nys-padding-t-600 {
  padding-top: 48px;
}
.nys-padding-r-600 {
  padding-right: 48px;
}
.nys-padding-b-600 {
  padding-bottom: 48px;
}
.nys-padding-l-600 {
  padding-left: 48px;
}
.nys-padding-t-700 {
  padding-top: 56px;
}
.nys-padding-r-700 {
  padding-right: 56px;
}
.nys-padding-b-700 {
  padding-bottom: 56px;
}
.nys-padding-l-700 {
  padding-left: 56px;
}
.nys-padding-t-800 {
  padding-top: 64px;
}
.nys-padding-r-800 {
  padding-right: 64px;
}
.nys-padding-b-800 {
  padding-bottom: 64px;
}
.nys-padding-l-800 {
  padding-left: 64px;
}
.nys-padding-t-1200 {
  padding-top: 96px;
}
.nys-padding-r-1200 {
  padding-right: 96px;
}
.nys-padding-b-1200 {
  padding-bottom: 96px;
}
.nys-padding-l-1200 {
  padding-left: 96px;
}
