:host {
  /* Anything that can be overridden should be defined here */

  /* Global Verticalnav Styles */
  --_nys-verticalnav-color: var(--nys-color-text-weak, #4a4d4f);
  --_nys-verticalnav-color--subheader: var(--nys-color-text, #1b1b1b);

  /* Typography */
  --_nys-verticalnav-font-size: var(--nys-font-size-ui-md, 16px);
  --_nys-verticalnav-font-size--header: var(--nys-font-size-ui-lg, 18px);
  --_nys-verticalnav-font-size--subheader: var(--nys-font-size-ui-sm, 14px);
  --_nys-verticalnav-font-weight: var(--nys-font-weight-regular, 400);
  --_nys-verticalnav-font-weight--subheader: var(
    --nys-font-weight-semibold,
    600
  );
  --_nys-verticalnav-line-height: var(--nys-font-lineheight-ui-md, 24px);
  --_nys-verticalnav-font-family: var(
    --nys-font-family-ui,
    var(
      --nys-font-family-sans,
      "Proxima Nova",
      "Helvetica Neue",
      "Helvetica",
      "Arial",
      sans-serif
    )
  );
}

nys-accordion {
  --nys-accordionitem-padding: var(--nys-space-100, 8px)
    var(--nys-space-150, 12px);
  --nys-accordion-content-max-width: 100%;
}

.nys-verticalnav {
  display: flex;
  flex-direction: column;
  background-color: var(--nys-color-surface, #fff);
  font-family: var(--_nys-verticalnav-font-family);
  font-size: var(--_nys-verticalnav-font-size);
  font-weight: var(--_nys-verticalnav-font-weight);
  line-height: var(--_nys-verticalnav-line-height);
  padding: 0;
  width: auto;
  height: 100%;

  @media (width >= 1024px) {
    padding: var(--nys-space-300, 24px) 0 var(--nys-space-300, 24px)
      var(--nys-space-400, 32px);
    width: 249px;
    border-right: 1px solid var(--nys-color-neutral-200, #bec0c1);
    gap: 10px;
  }

  .nys-verticalnav__header {
    color: var(--_nys-verticalnav-color--subheader);
    border-top: none;
    font-size: var(--_nys-verticalnav-font-size--header);
    font-weight: 700;
    text-transform: none;
  }
}

.nys-verticalnavgroup {
  &__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--nys-space-100, 8px) var(--nys-space-200, 16px)
      var(--nys-space-100, 8px) var(--nys-space-150, 12px);
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--_nys-verticalnav-color);
    font-family: var(--_nys-verticalnav-font-family);
    font-size: var(--_nys-verticalnav-font-size);
    font-weight: var(--_nys-verticalnav-font-weight--subheader);
    line-height: var(--_nys-verticalnav-line-height);
    &:hover {
      background-color: var(--nys-color-neutral-10, #f6f6f6);
    }
    &:active {
      background-color: var(--nys-color-neutral-50, #ededed);
    }
    &:focus-visible {
      outline: var(--nys-border-width-md, 2px) solid
        var(--nys-color-focus, #004dd1);
      outline-offset: -2px;
    }
    &:disabled {
      color: var(--nys-color-text-disabled, #bec0c1);
    }
  }

  &__chevron {
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  &__items {
    display: none;
    --_nys-verticalnav-link-indent: var(--nys-space-300, 24px);
  }
}

:host([disabled]) {
  .nys-verticalnavgroup {
    &__trigger {
      &:disabled {
        color: var(--nys-color-text-disabled, #bec0c1);
        cursor: not-allowed;
      }
    }
  }
}

:host([expanded]) {
  .nys-verticalnavgroup__chevron {
    transform: rotate(180deg);
  }

  .nys-verticalnavgroup__items {
    display: block;
  }
}

:host([active]) {
  .nys-verticalnavgroup {
    &__trigger {
      background-color: var(--nys-color-theme-faint, #f7fafd);
      &:hover {
        background-color: var(--nys-color-theme-weaker, #eff6fb);
      }
      &:active {
        background-color: var(--nys-color-theme-weak, #cddde9);
      }
    }
  }
}
