:host {
  /* Global Toggle Styles */
  --_nys-toggle-width: var(--nys-font-size-8xl, 44px);
  --_nys-toggle-height: var(--nys-size-300, 24px);
  --_nys-toggle-border-radius: var(--nys-radius-round, 1776px);
  --_nys-toggle-border-width: var(--nys-border-width-md, 2px);
  --_nys-toggle-size--knob: var(--nys-font-size-lg, 18px);
  --_nys-toggle-margin--knob: calc(
    (var(--_nys-toggle-height) - var(--_nys-toggle-size--knob)) / 2
  );
  --_nys-toggle-transform--translateX: calc(
    var(--_nys-toggle-width) - var(--_nys-toggle-size--knob) - var(
        --_nys-toggle-margin--knob
      ) -
      2px
  );

  /* space between toggle and it's label */
  --_nys-toggle-gap: var(--nys-space-150, 12px);
  --_nys-toggle-transition-duration: 0.3s;

  /* Focus outline */
  --_nys-toggle-outline-color: var(--nys-color-focus, #004dd1);
  --_nys-toggle-outline-width: var(--nys-border-width-md, 2px);

  /* Slider colors */
  --_nys-toggle-background-color: var(--nys-color-neutral-500, #797c7f);
  --_nys-toggle-background-color--disabled: var(
    --nys-color-neutral-100,
    #d0d0ce
  );
  --_nys-toggle-background-color--checked: var(--nys-color-theme, #154973);
  --_nys-toggle-background-color--hover: var(--nys-color-neutral-600, #62666a);
  --_nys-toggle-background-color--active: var(--nys-color-neutral-700, #4a4d4f);
  --_nys-toggle-background-color--checked--hover: var(
    --nys-color-theme-strong,
    #0e324f
  );
  --_nys-toggle-background-color--checked--active: var(
    --nys-color-theme-stronger,
    #081b2b
  );
  --_nys-toggle-color-ink-reverse: var(--nys-color-ink-reverse, #fff);
  --_nys-toggle-color--disabled: var(--nys-color-neutral-500, #797c7f);
}

/* Toggle switch overall container */
.nys-toggle__content {
  display: flex;
  gap: var(--_nys-toggle-gap);

  nys-label {
    --_nys-label-font-weight: var(--nys-font-weight-regular, 400);
  }

  &:has(input:disabled) {
    nys-label {
      --_nys-label-color: var(--_nys-toggle-color--disabled);
      cursor: not-allowed;
    }
  }
}

/* Toggle Switch component */
.nys-toggle__toggle {
  position: relative;
  display: inline-block;
  width: var(--_nys-toggle-width);
  min-width: var(--_nys-toggle-width);
  max-width: var(--_nys-toggle-width);
  height: var(--_nys-toggle-height);
  min-height: var(--_nys-toggle-height);
  max-height: var(--_nys-toggle-height);

  input {
    opacity: 0;
    width: 0;
    height: 0;

    /* Switch BG: Checked */
    &:checked + .slider {
      background-color: var(--_nys-toggle-background-color--checked);

      /* Switch BG: Hover + Checked */
      &:hover {
        background-color: var(--_nys-toggle-background-color--checked--hover);

        /* Switch Icon color: Hover + Checked */
        .knob .toggle-icon {
          color: var(--_nys-toggle-background-color--checked--hover);
        }
      }

      /* Switch Knob: Checked */
      .knob {
        transform: translateX(var(--_nys-toggle-transform--translateX));

        .toggle-icon {
          color: var(--_nys-toggle-background-color--checked);
        }
      }
    }

    /* Switch BG: Active */
    &:active:not(:disabled) + .slider {
      background-color: var(--_nys-toggle-background-color--active);
      outline: solid var(--_nys-toggle-outline-width)
        var(--_nys-toggle-outline-color);

      .knob .toggle-icon {
        color: var(--_nys-toggle-background-color--active);
      }

      /* Switch BG: Active + Checked */
      &:checked {
        background-color: var(--_nys-toggle-background-color--checked--active);

        .knob .toggle-icon {
          color: var(--_nys-toggle-background-color--checked--active);
        }
      }
    }

    /* Switch Outline: Focus */
    &:focus + .slider {
      outline: solid var(--_nys-toggle-outline-width)
        var(--_nys-toggle-outline-color);
    }

    /* Disabled State */
    &:disabled + .slider {
      background-color: var(--_nys-toggle-background-color--disabled);
      cursor: not-allowed;

      &:hover {
        background-color: var(--_nys-toggle-background-color--disabled);
      }

      .knob .toggle-icon {
        color: var(--_nys-toggle-background-color--disabled);
      }
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: var(--_nys-toggle-border-radius);
  outline-offset: var(--_nys-toggle-border-width);
  width: var(--_nys-toggle-width);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--_nys-toggle-background-color);
  display: flex;
  align-items: center;

  /* Switch BG: Hover */
  &:hover {
    background-color: var(--_nys-toggle-background-color--hover);

    /* Switch Icon color: Hover */
    .knob .toggle-icon {
      color: var(--_nys-toggle-background-color--hover);
    }
  }
}

.knob {
  content: "";
  height: var(--_nys-toggle-size--knob);
  width: var(--_nys-toggle-size--knob);
  margin: var(--_nys-toggle-margin--knob);
  border-radius: var(--nys-radius-round, 1776px);
  background-color: var(--_nys-toggle-color-ink-reverse);
  transition: all var(--_nys-toggle-transition-duration)
    cubic-bezier(0.27, 0.2, 0.25, 1.51);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Styling */
.toggle-icon {
  position: absolute;
  color: var(--_nys-toggle-background-color);
}

/* Sizes */
:host([size="sm"]) {
  --_nys-toggle-width: var(--nys-size-450, 36px);
  --_nys-toggle-height: var(--nys-size-250, 20px);
  --_nys-toggle-size--knob: var(--nys-size-200, 16px);
  --_nys-toggle-gap: var(--nys-space-100, 8px);

  .toggle-icon {
    font-size: var(--nys-font-size-body-xs, 12px);
  }

  /* If 'cap' is not supported, account for the extra padding from svg due to nys-icon's 'display:inline' */
  @supports not (font-size: 1cap) {
    .toggle-icon {
      font-size: var(--nys-font-size-body-xs, 12px);
    }
  }
}

:host([size="md"]) {
  --_nys-toggle-width: var(--nys-size-550, 44px);
  --_nys-toggle-height: var(--nys-size-300, 24px);
  --_nys-toggle-size--knob: var(--nys-size-250, 20px);

  .toggle-icon {
    font-size: var(--nys-font-size-body-sm, 14px);
  }

  /* If 'cap' is not supported, account for the extra padding from svg due to nys-icon's 'display:inline' */
  @supports not (font-size: 1cap) {
    .toggle-icon {
      font-size: calc(var(--nys-font-size-body-sm, 14px) - 1px);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  :host {
    --toggle-transition-duration: 0s;
  }
}
