.nys-z-auto {
  z-index: auto;
}
.nys-z-bottom {
  z-index: -100;
}
.nys-z-top {
  z-index: 99999;
}
.nys-z-0 {
  z-index: 0;
}
.nys-z-100 {
  z-index: 100;
}
.nys-z-200 {
  z-index: 200;
}
.nys-z-300 {
  z-index: 300;
}
.nys-z-400 {
  z-index: 400;
}
.nys-z-500 {
  z-index: 500;
}
