.nys-backtotop {
    /* These props ARE NOT publicly overridable */
    --_nys-button-border-radius--start: var(--nys-radius-round, 1776px);
    --_nys-button-border-radius--end: var(--nys-radius-round, 1776px);
    --_nys-button-padding--y: var(--nys-space-100, 8px);
    --_nys-button-padding--x: var(--nys-space-200, 16px);

    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
    display: none;
  }

  .left {
    left: 1rem;
    right: auto;
  }

  .visible {
    display: inline-flex;
  }
