:host {
  /* Global Fileinput Styles */
  --_nys-fileinput-gap: var(--nys-space-100, 8px);

  /* Typography */
  --_nys-fileinput-font-size: var(--nys-font-size-ui-md, 16px);
  --_nys-fileinput-font-weight: var(--nys-font-weight-semibold, 600);
  --_nys-fileinput-line-height: var(--nys-font-lineheight-ui-md, 24px);
  --_nys-fileinput-font-family: var(
    --nys-font-family-ui,
    var(
      --nys-font-family-sans,
      "Proxima Nova",
      "Helvetica Neue",
      "Helvetica",
      "Arial",
      sans-serif
    )
  );

  /* Dropzone */
  --_nys-fileinput-background-color--dropzone: var(
    --nys-color-ink-reverse,
    #fff
  );
  --_nys-fileinput-background-color--dropzone--disabled: var(
    --nys-color-neutral-10,
    #f6f6f6
  );
  --_nys-fileinput-background-color--dropzone--active: var(
    --nys-color-theme-faint,
    #f7fafd
  );
  --_nys-fileinput-border-radius--dropzone: var(
    --nys-radius-lg,
    var(--nys-space-100, 8px)
  );
  --_nys-fileinput-border-style: dashed;
  --_nys-fileinput-border-color: var(--nys-color-neutral-200, #bec0c1);
  --_nys-fileinput-border-width: var(--nys-border-width-sm, 1px);
}

.nys-fileinput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--_nys-fileinput-gap);
  font-family: var(--_nys-fileinput-font-family);
  font-size: var(--_nys-fileinput-font-size);
  font-weight: var(--_nys-fileinput-font-weight);
  line-height: var(--_nys-fileinput-line-height);
}
:host([width="lg"]) .nys-fileinput {
  max-width: var(--nys-form-width-lg, 384px);
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--_nys-fileinput-gap);
}

/***** Dropzone *****/
.nys-fileinput__dropzone {
  display: flex;
  padding: var(--nys-space-400, 32px) var(--nys-space-200, 16px);
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: var(--_nys-fileinput-border-radius--dropzone);
  outline: var(--_nys-fileinput-border-width) var(--_nys-fileinput-border-style)
    var(--_nys-fileinput-border-color);
  background-color: var(--_nys-fileinput-background-color--dropzone);
  transition: all 60ms ease-in-out;
}

.nys-fileinput__dropzone:hover {
  cursor: pointer;
  --_nys-fileinput-border-width: var(--nys-border-width-md, 2px);
  --_nys-fileinput-border-color: var(--nys-color-neutral-700, #4a4d4f);
}

.nys-fileinput__dropzone.drag-active {
  --_nys-fileinput-border-width: var(--nys-border-width-md, 2px);
  --_nys-fileinput-border-color: var(--nys-color-theme, #154973);
  --_nys-fileinput-border-style: solid;
}

.nys-fileinput__dropzone.error {
  --_nys-fileinput-border-color: var(--nys-color-danger, #b52c2c);
}

.nys-fileinput__dropzone.error:hover {
  --_nys-fileinput-border-width: var(--nys-border-width-md, 2px);
  --_nys-fileinput-border-color: var(--nys-color-emergency, #721c1c);
}

.nys-fileinput__dropzone.disabled {
  cursor: not-allowed;
  --_nys-fileinput-border-color: var(--nys-color-neutral-300, #a7a9ab);
  --_nys-fileinput-border-width: var(--nys-border-width-sm, 1px);
  background-color: var(--_nys-fileinput-background-color--dropzone--disabled);
  color: var(--_nys-fileinput-color--dropzone--disabled);
}

progress {
  display: flex;
  width: 100%;
  height: 6px;
  border-radius: var(--nys-radius-round, 1776px);
  background-color: var(--_nys-fileinput-progress-background);
  overflow: hidden;
  appearance: none;
  border: none;
}
progress::-moz-progress-bar {
  background-color: var(--_nys-fileinput-progress-background);
}
progress::-webkit-progress-value {
  background-color: var(--_nys-fileinput-progress-background);
}
progress::-webkit-progress-bar {
  background-color: var(--_nys-fileinput-progress-background);
}
