/*!
   * ▒█▄░▒█ ▒█░░▒█ ▒█▀▀▀█ ▒█▀▀▄ ▒█▀▀▀█ 
   * ▒█▒█▒█ ▒█▄▄▄█ ░▀▀▀▄▄ ▒█░▒█ ░▀▀▀▄▄ 
   * ▒█░░▀█ ░░▒█░░ ▒█▄▄▄█ ▒█▄▄▀ ▒█▄▄▄█
   * 
   * Core Styles
   * Part of the New York State Design System (NYSDS)
   * Repository: https://github.com/its-hcd/nysds
   * License: MIT
   * Version: 1.3.0
*/

/* Include the selective CSS reset  */
@import "./core/reset.css";

/* Include Design Tokens (variables for colors, spacing, typography) */
@import "./core/tokens.css";

/* Include Design Tokens (variables for colors, spacing, typography) */
@import "./core/typography.css";

/* TODO: Include Global Styles (default typography and body styles) */
/* @import "./core/globals.css"; */

/* Hide unstyled components until they are fully loaded */
nys-alert:not(:defined),
nys-avatar:not(:defined),
nys-button:not(:defined),
nys-checkbox:not(:defined),
nys-checkboxgroup:not(:defined),
nys-globalheader:not(:defined),
nys-globalfooter:not(:defined),
nys-icon:not(:defined),
nys-radiobutton:not(:defined),
nys-radiogroup:not(:defined),
nys-select:not(:defined),
nys-textarea:not(:defined),
nys-textinput:not(:defined),
nys-toggle:not(:defined),
nys-errormessage:not(:defined),
nys-label:not(:defined),
nys-unavheader:not(:defined),
nys-unavfooter:not(:defined) {
   visibility: hidden;
}