/*!
   * ▒█▄░▒█ ▒█░░▒█ ▒█▀▀▀█ ▒█▀▀▄ ▒█▀▀▀█
   * ▒█▒█▒█ ▒█▄▄▄█ ░▀▀▀▄▄ ▒█░▒█ ░▀▀▀▄▄
   * ▒█░░▀█ ░░▒█░░ ▒█▄▄▄█ ▒█▄▄▀ ▒█▄▄▄█
   *
   * Core Styles
   * Part of the New York State Design System (NYSDS)
   * Repository: https://github.com/its-hcd/nysds
   * License: MIT
   * Version: 1.12.1
*/


/* Include Design Tokens (variables for colors, spacing, typography) */
@use "./core/tokens";

/* Hide unstyled components until they are fully loaded */
nys-datepicker:not(:defined),
nys-date-picker:not(:defined),
nys-accordion:not(:defined),
nys-alert:not(:defined),
nys-avatar:not(:defined),
nys-backtotop:not(:defined),
nys-badge:not(:defined),
nys-button:not(:defined),
nys-checkbox:not(:defined),
nys-checkboxgroup:not(:defined),
nys-divider:not(:defined),
nys-errormessage:not(:defined),
nys-fileinput:not(:defined),
nys-globalfooter:not(:defined),
nys-globalheader:not(:defined),
nys-icon:not(:defined),
nys-label:not(:defined),
nys-modal:not(:defined),
nys-radiobutton:not(:defined),
nys-radiogroup:not(:defined),
nys-select:not(:defined),
nys-skipnav:not(:defined),
nys-stepper:not(:defined),
nys-textarea:not(:defined),
nys-textinput:not(:defined),
nys-toggle:not(:defined),
nys-tooltip:not(:defined),
nys-unavheader:not(:defined),
nys-unavfooter:not(:defined) {
  visibility: hidden;
}
