body {
    font-family: 'Arial', sans-serif;
}

.pill {
    padding: .5rem 1rem;
    display: inline-block;
}

.pill.stable {
    background-color: rgb(171, 251, 171);
}

.usage-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.usagedos {
    display: inline-block;
    width: 45%;
    padding: .5rem 1rem;
    border-radius: 15px;
    margin: 0;
}

.usagedos.do {
    background-color: rgb(171, 251, 171);
}

.usagedos.dont {
    background-color: rgb(255, 202, 202)
}

/* Layout grid page */
.docs-grid-example {
  .nys-grid-row {
    margin-top: 1em;
    font-family:'Courier New', Courier, monospace;
  }

  [class*="nys-grid-col"] {
    background-color: lightgray;
    text-align: center;
  }

  .nys-grid-row:not([class*="nys-grid-gap"]) {
    [class*="nys-grid-col"] {
      border: 1px solid;
      padding: 2em;
    }
  }

  [class*="nys-grid-gap"] {
    [class*="nys-grid-col"] > * {
      background-color: color("white");
      border: 1px solid;
      padding: 2em;
    }
  }
}