body {
    font-family: 'Arial', sans-serif;
}

.pill {
    padding: .5rem 1rem;
    display: inline-block;
}

.pill.stable {
    background-color: rgb(171, 251, 171);
}

.usage-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.usagedos {
    display: inline-block;
    width: 45%;
    padding: .5rem 1rem;
    border-radius: 15px;
    margin: 0;
}

.usagedos.do {
    background-color: rgb(171, 251, 171);
}

.usagedos.dont {
    background-color: rgb(255, 202, 202)
}

.usage-link {
    color: rgb(9, 84, 223) !important;
    text-decoration: underline !important;
    font-weight: bold;
}