  :host {
    /* Anything that can be overridden should be defined here */

    /* Global Table Styles */
    --_nys-table-width: 100%;
    --_nys-table-radius: var(--nys-radius-xl, 12px);
    --_nys-table-padding: var(--nys-space-100, 8px);

    /* Typography */
    --_nys-table-font-size: var(--nys-font-size-ui-md, 16px);
    --_nys-table-font-weight: var(--nys-font-weight-regular, 400);
    --_nys-table-line-height: var(--nys-font-lineheight-ui-md, 24px);
    --_nys-table-font-family: var(--nys-font-family-ui,
        var(--nys-font-family-sans,
          "Proxima Nova",
          "Helvetica Neue",
          "Helvetica",
          "Arial",
          sans-serif));
  }

  .nys-table {
    width: var(--_nys-table-width);
    border-radius: var(--_nys-table-radius);
    font-family: var(--_nys-table-font-family);
    font-size: var(--_nys-table-font-size);
    font-weight: var(--_nys-table-font-weight);
    line-height: var(--_nys-table-line-height);
  }


  //slotted row style
  ::slotted(table) {
    border: 1px solid red;
    width: var(--_nys-table-width);
    border-radius: var(--_nys-table-radius);
    font-family: var(--_nys-table-font-family);
    font-size: var(--_nys-table-font-size);
    font-weight: var(--_nys-table-font-weight);
    line-height: var(--_nys-table-line-height);
  }
