  :host {
    /* Anything that can be overridden should be defined here */

    /* Global Table Styles */
    --_nys-table-width: 100%;
    --_nys-table-radius: var(--nys-radius-xl, 12px);
    --_nys-table-padding: var(--nys-space-100, 8px);

    /* Typography */
    --_nys-table-font-size: var(--nys-font-size-ui-md, 16px);
    --_nys-table-font-weight: var(--nys-font-weight-regular, 400);
    --_nys-table-line-height: var(--nys-font-lineheight-ui-md, 24px);
    --_nys-table-font-family: var(--nys-font-family-ui,
        var(--nys-font-family-sans,
          "Proxima Nova",
          "Helvetica Neue",
          "Helvetica",
          "Arial",
          sans-serif));

    /* Specific Table Element Padding */
    --_nys-table-padding--caption: var(--nys-space-400, 32px) var(--nys-space-200, 16px);
  }

  .nys-table {
    width: var(--_nys-table-width);
    font-family: var(--_nys-table-font-family);
    font-size: var(--_nys-table-font-size);
    font-weight: var(--_nys-table-font-weight);
    line-height: var(--_nys-table-line-height);
    border: solid red;
  }

  .nys-table table {
    border-collapse: collapse;
    width: var(--_nys-table-width);
    border: solid green;
  }

  .nys-table caption {
    text-align: start;
    padding: var(--_nys-table-padding--caption);

    /* Heading/Heading 2/Bold */
    font-family: var(--nys-type-family-heading, "Proxima Nova");
    font-size: var(--nys-type-size-heading-h2, 28px);
    font-style: normal;
    font-weight: 700;
    border: solid blue;
  }

  :host([striped]) .nys-table tbody tr:nth-child(even) {
    background-color: var(--nys-color-neutral-10, #F6F6F6);
  }