:host {
  --_nys-table-width: 100%;
  --_nys-table-radius: var(--nys-radius-xl, 12px);
  --_nys-table-padding: var(--nys-space-100, 8px);
  --_nys-table-border-color: transparent;
  --_nys-table-border-width: 0;
  --_nys-table-font-family: var(--nys-font-family-ui,
      var(--nys-font-family-sans,
        "Proxima Nova",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif));
  --_nys-table-font-size: var(--nys-font-size-ui-md, 16px);
  --_nys-table-font-weight: var(--nys-font-weight-regular, 400);
  --_nys-table-line-height: 16px;

  --_nys-table-padding--caption: var(--nys-space-250, 20px) var(--nys-space-150, 12px);
  --_nys-table-font-size--caption: var(--nys-font-size-ui-lg, 18px);
  --_nys-table-font-weight--caption: var(--nys-font-weight-bold, 700);

  --_nys-table-padding--cell--x: var(--nys-space-150, 12px);
  --_nys-table-padding--cell--y: var(--nys-space-200, 16px);
  --_nys-table-background-color: var(--nys-color-ink-reverse, #fff);
  --_nys-table-background-color--striped: var(--nys-color-neutral-10, #f6f6f6);
}

:host([bordered]) {
  --_nys-table-border-color: var(--nys-color-neutral-100, #d0d0ce);
  --_nys-table-border-width: var(--nys-space-1px, 1px);
}

.nys-table {
  width: var(--_nys-table-width);
  font: var(--_nys-table-font-weight) var(--_nys-table-font-size) / var(--_nys-table-line-height) var(--_nys-table-font-family);

  table {
    width: var(--_nys-table-width);
    border-collapse: collapse;
  }

  caption {
    padding: var(--_nys-table-padding--caption);
    font-size: var(--_nys-table-font-size--caption);
    font-weight: var(--_nys-table-font-weight--caption);
    text-align: start;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  td {
    padding: var(--_nys-table-padding--cell--y) var(--_nys-table-padding--cell--x);
    border: var(--_nys-table-border-width) solid var(--_nys-table-border-color);
  }

  th {
    border: var(--_nys-table-border-width) solid var(--_nys-table-border-color);
    overflow: hidden;
    text-overflow: ellipsis;
    padding: var(--_nys-table-padding--cell--y) var(--_nys-table-padding--cell--x);

    &:has(nys-button) {
      padding: 0;
    }

    p {
      margin: 0;
    }

    nys-button {
      margin: 0;
      width: auto;
      justify-content: space-between;

      --_nys-button-border-width: 0;
      --_nys-button-border-radius--start: 0;
      --_nys-button-border-radius--end: 0;
      --_nys-button-padding--x: var(--_nys-table-padding--cell--x);
      --_nys-button-justify-content: space-between;
    }
  }

  th.nys-table__sortedcolumn {
    background-color: var(--nys-color-theme-weak, #cddde9);
  }

  td.nys-table__sortedcolumn {
    position: relative;
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--nys-color-theme, #154973);
      opacity: 0.1;
      pointer-events: none;
      z-index: -1;
    }
  }
}

:host([striped]) .nys-table tbody tr:nth-child(odd) {
  background-color: var(--_nys-table-background-color--striped);
}

:host([sortable]) .nys-table th {
  cursor: pointer;
}
