:host {
  /* Anything that can be overridden should be defined here */

  /* Global Datepicker Styles */
  --_nys-datepicker-width: fit-content;
  --_nys-datepicker-height: var(--nys-size-600, 48px);
  --_nys-datepicker-radius: var(--nys-radius-xl, 12px);
  --_nys-datepicker-padding: var(--nys-space-100, 8px);
  --_nys-datepicker-gap: var(--nys-space-100, 8px);

  /* Focus/Hover state */
  --_nys-datepicker-outline-color--focus: var(--nys-color-focus, #004dd1);

  /* Typography */
  --_nys-datepicker-font-size: var(--nys-font-size-ui-md, 16px);
  --_nys-datepicker-font-weight: var(--nys-font-weight-regular, 400);
  --_nys-datepicker-line-height: var(--nys-font-lineheight-ui-md, 24px);
  --_nys-datepicker-font-family: var(
    --nys-font-family-ui,
    var(
      --nys-font-family-sans,
      "Proxima Nova",
      "Helvetica Neue",
      "Helvetica",
      "Arial",
      sans-serif
    )
  );

  /* WC Styling Change */
  --_nys-datepicker--select-theme: var(--nys-color-theme, #154973);
  --_nys-datepicker--button-background-color: var(
    --nys-color-ink-reverse,
    #fff
  );
  --_nys-datepicker--button-border: var(--nys-border-width-sm, 1px) solid
    var(--nys-color-neutral-400, #909395);
}

.nys-datepicker--container {
  display: flex;
  flex-direction: column;
  gap: var(--nys-space-50, 4px);
  font-family: var(--_nys-datepicker-font-family);
  font-size: var(--_nys-datepicker-font-size);
  font-weight: var(--_nys-datepicker-font-weight);
  line-height: var(--_nys-datepicker-line-height);
  width: 382px;

  .nys-datepicker--input-container {
    position: relative;
    width: var(--nys-form-width-md, 200px);
    display: flex;
    #nys-datepicker--input {
      flex: 1;
      height: 24px;
      outline-color: transparent;
      outline-width: 1px;
      outline-style: solid;
      border-radius: var(--nys-radius-md, 4px);
      border: var(--nys-border-width-sm, 1px) solid
        var(--nys-color-neutral-400, #909395);
      background: var(--nys-color-ink-reverse, #fff);
      padding: var(--nys-space-100, 8px) var(--nys-space-100, 8px)
        var(--nys-space-100, 8px) var(--nys-space-150, 12px);
      color: var(--nys-color-text-weaker, #797c7f);
      &:focus {
        outline-color: var(--_nys-datepicker-outline-color--focus);
        border-color: var(--_nys-datepicker-outline-color--focus);
      }
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }

    #calendar-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--nys-space-50, 4px);
      border-radius: var(--nys-radius-md, 4px);
      border: var(--nys-border-width-sm, 1px) solid
        var(--nys-color-ink-reverse, #fff);
      outline-color: transparent;
      outline-width: 1px;
      outline-style: solid;
      background-color: transparent;
      position: absolute;
      top: 50%;
      right: var(--nys-space-50, 4px);
      transform: translateY(-50%);
      cursor: pointer;
      &:hover {
        outline-color: var(--nys-color-neutral-50, #ededed);
        border-color: var(--nys-color-neutral-50, #ededed);
        background: var(--nys-color-neutral-50, #ededed);
      }
      &:active {
        outline-color: var(--nys-color-gray-100, #d0d0ce);
        border-color: var(--nys-color-gray-100, #d0d0ce);
        background: var(--nys-color-gray-100, #d0d0ce);
      }
      &:focus:not(:active) {
        outline-color: var(--_nys-datepicker-outline-color--focus);
        border-color: var(--_nys-datepicker-outline-color--focus);
      }
    }
  }

  .wc-datepicker--container {
    display: flex;
  }
}

/**************** WC STYLINGS ****************/
wc-datepicker {
  display: none;
  padding: var(--nys-space-200, 16px);
  border-radius: var(--nys-radius-md, 4px);
  border: var(--nys-border-width-sm, 1px) solid
    var(--nys-color-neutral-100, #d0d0ce);
  background: var(--nys-color-surface, #fff);
  box-shadow:
    0 4px 6px -1px var(--nys-color-black-transparent-100, rgba(27, 27, 27, 0.1)),
    0 4px 6px -1px var(--nys-color-black-transparent-50, rgba(27, 27, 27, 0.01));
  color: var(--nys-color-text, #1b1b1b);
  background-color: #fff;
  &.active {
    display: flex;
    flex-direction: column-reverse;
  }
}

wc-datepicker,
wc-datepicker *,
wc-datepicker *:before,
wc-datepicker *:after {
  margin: 0;
  box-sizing: border-box;
}

.wc-datepicker {
  display: block;
  width: min-content;
  // border-radius: var(--nys-radius-md, 4px);
  // border: var(--nys-border-width-sm, 1px) solid
  //   var(--nys-color-neutral-100, #d0d0ce);
  // background: var(--nys-color-surface, #fff);
  // box-shadow:
  //   0 4px 6px -1px var(--nys-color-black-transparent-100, rgba(27, 27, 27, 0.1)),
  //   0 4px 6px -1px var(--nys-color-black-transparent-50, rgba(27, 27, 27, 0.01));
  // color: var(--nys-color-text, #1b1b1b);
  // background-color: #fff;
  font-family: var(--nys-type-family-ui, "Proxima Nova");
  font-size: var(--nys-type-size-ui-sm, 14px);

  font-style: normal;
  font-weight: 400;
  line-height: var(--nys-font-lineheight-ui-md, 24px);
  letter-spacing: var(--nys-font-letterspacing-ui-md, 0.044px);
}

.wc-datepicker--disabled *:disabled {
  opacity: 0.5;
  cursor: default;
}

.wc-datepicker--disabled .wc-datepicker__weekday {
  color: #767676;
}

.wc-datepicker--disabled .wc-datepicker__date:focus > * {
  outline: none;
}

.wc-datepicker--disabled .wc-datepicker__date {
  cursor: default;
  opacity: 0.5;
}

.wc-datepicker--disabled .wc-datepicker__date:hover > * {
  background-color: transparent;
}

.wc-datepicker--disabled .wc-datepicker__date--in-range:hover > * {
  background-color: #f2f3f5;
}

.wc-datepicker--disabled .wc-datepicker__date--selected:hover > * {
  color: #fff;
  background-color: var(--_nys-datepicker--select-theme);
}

.wc-datepicker__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.wc-datepicker__current-month {
  display: flex;
  flex-grow: 1;
  gap: 0.5rem;
}

.wc-datepicker__month-select,
.wc-datepicker__year-select {
  display: flex;
  font-size: var(--nys-type-size-ui-md, 16px);
  font-family: var(--nys-type-family-ui, "Proxima Nova");
  padding: var(--nys-space-100, 8px) var(--nys-space-50, 4px)
    var(--nys-space-100, 8px) var(--nys-space-150, 12px);
  align-items: center;
  border-radius: 0.25rem;
  color: #111;
  background-color: var(--_nys-datepicker--button-background-color);
  border: var(--_nys-datepicker--button-border);
  // font: inherit;
  line-height: var(--nys-font-lineheight-ui-md, 24px);
}

.wc-datepicker__month-select {
  flex-grow: 1;
  cursor: pointer;
  appearance: none;
}

.wc-datepicker__year-select {
  max-width: 5rem;
}

.wc-datepicker__previous-month-button,
.wc-datepicker__next-month-button,
.wc-datepicker__previous-year-button,
.wc-datepicker__next-year-button {
  display: inline-flex;
  width: 40px;
  max-width: 40px;
  max-height: 40px;
  padding: var(--nys-space-150, 12px);
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  color: #111;
  background-color: var(--_nys-datepicker--button-background-color);
  border: var(--_nys-datepicker--button-border);
  cursor: pointer;
}

// .wc-datepicker__body {
//   padding-right: 0.75rem;
//   padding-bottom: 0.75rem;
//   padding-left: 0.75rem;
// }

.wc-datepicker__calendar {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.wc-datepicker__weekday > span {
  display: flex;
  padding: 0.125rem;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  aspect-ratio: 1;
}

.wc-datepicker__date {
  padding: 0.125rem;
  text-align: center;
  cursor: pointer;
}

.wc-datepicker__date:focus {
  outline: none;
}

.wc-datepicker__date:focus > * {
  outline: 0.125rem solid var(--_nys-datepicker--select-theme);
}

.wc-datepicker__date:hover > * {
  background-color: #f2f3f5;
}

.wc-datepicker__date > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  aspect-ratio: 1;
}

.wc-datepicker__date--current {
}

.wc-datepicker__date--overflowing {
}

.wc-datepicker__date--today > * {
  font-weight: 600;
  font-style: normal;
  color: var(--nys-color-theme, #154973);
text-decoration-line: underline;
}

.wc-datepicker__date--in-range > * {
  background-color: #f2f3f5;
}

.wc-datepicker__date--selected > *,
.wc-datepicker__date--selected:hover > * {
  color: #fff;
  background-color: var(--_nys-datepicker--select-theme);
  font-weight: 500;
}

.wc-datepicker__date--disabled {
  color: #767676;
  cursor: default;
}

.wc-datepicker__date--disabled:not(.wc-datepicker__date--selected):not(
    .wc-datepicker__date--in-range
  ):hover
  > * {
  background-color: transparent;
}

.wc-datepicker__date--disabled.wc-datepicker__date--in-range:not(
    .wc-datepicker__date--selected
  ):not(.wc-datepicker__date--in-range)
  > * {
  background-color: transparent;
}

.wc-datepicker__footer {
  display: flex;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  align-items: center;
  gap: 0.5rem;
}

.wc-datepicker__clear-button,
.wc-datepicker__today-button {
  display: inline-flex;
  height: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  color: #111;
  background-color: #f2f3f5;
  font: inherit;
  line-height: 1;
  cursor: pointer;
}

.wc-datepicker--button-container {
  display: flex;
  padding-top: var(--nys-space-150, 12px);
  align-items: flex-end;
  gap: var(--nys-space-200, 16px);
  align-self: stretch;
}
