:host {
  /* Global Tooltip Styles */
  --_nys-tooltip-color: var(--nys-color-text-reverse, #ffffff);
  --_nys-tooltip-background-color: var(--nys-color-ink, #1b1b1b);
  --_nys-tooltip-border-radius: var(--nys-radius-md, 4px);
  --_nys-tooltip-font-family: var(
    --nys-font-family-ui,
    var(
      --nys-font-family-sans,
      "Proxima Nova",
      "Helvetica Neue",
      "Helvetica",
      "Arial",
      sans-serif
    )
  );
  --_nys-tooltip-font-size: var(--nys-type-size-ui-sm, 14px);
  --_nys-tooltip-letter-spacing: var(--nys-font-letterspacing-ui-sm, 0.044px);
  --_nys-tooltip-line-height: var(--nys-font-lineheight-ui-sm, 24px);
}

.nys-tooltip__content {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 400px;
  width: max-content;
  max-height: 120px;
  padding: var(--nys-space-50, 4px) var(--nys-space-100, 8px);
  background-color: var(--_nys-tooltip-background-color);
  border-radius: var(--_nys-tooltip-border-radius);
  cursor: auto;
  z-index: 1;
}

.nys-tooltip__inner {
  display: block;
  color: var(--_nys-tooltip-color);
  font-family: var(--_nys-tooltip-font-family);
  font-size: var(--_nys-tooltip-font-size);
  font-weight: 400;
  line-height: var(--_nys-tooltip-line-height);
  letter-spacing: var(--_nys-tooltip-letter-spacing);
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* Tooltip Arrow (default) */
.nys-tooltip__arrow {
  position: absolute;
  width: 14px;
  height: 6px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="6" viewBox="0 0 15 6" fill="none"><path d="M8.15079 5.44218C7.7763 5.76317 7.2237 5.76317 6.84921 5.44218L0.5 0H14.5L8.15079 5.44218Z" fill="%231B1B1B"/></svg>')
    no-repeat center;
}

.nys-tooltip__content[active] {
  display: block;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

/* ===================== POSITIONING ===================== */
/* Top */
:host([position="top"]) .nys-tooltip__arrow {
  top: 100%;
  left: var(--arrow-offset-x, 50%);
  transform: translateX(-50%);
}

/* Bottom */
:host([position="bottom"]) .nys-tooltip__arrow {
  bottom: 100%;
  left: var(--arrow-offset-x, 50%);
  transform: translateX(-50%) rotate(180deg);
}

/* Left */
:host([position="left"]) .nys-tooltip__arrow {
  left: 100%;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  margin-left: -4px;
}
/* Right */
:host([position="right"]) .nys-tooltip__arrow {
  right: 100%;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  margin-right: -4px;
}

:host([inverted]) .nys-tooltip__content {
  --_nys-tooltip-color: var(--nys-color-text, #1b1b1b);
  --_nys-tooltip-background-color: var(--nys-color-ink-reverse, #fff);
}

:host([inverted]) .nys-tooltip__arrow {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="6" viewBox="0 0 15 6" fill="none"><path d="M8.15079 5.44218C7.7763 5.76317 7.2237 5.76317 6.84921 5.44218L0.5 0H14.5L8.15079 5.44218Z" fill="white"/></svg>')
    no-repeat center;
}

@media (max-width: 400px) {
  .nys-tooltip__content {
    max-width: calc(100vw - 2rem); /* 2rem = 32px = 16px margin on each side */
  }
}
