nys-globalfooter {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    gap: var(--_nys-globalfooter-row-gap) var(--_nys-globalfooter-column-gap);
  }

  li {
    margin: 0;
    padding: 0;
  }

  a,
  span {
    color: var(--_nys-globalfooter-color);
    text-decoration: none;
    font-family: var(--_nys-globalfooter-font-family--link);
    font-size: var(--_nys-globalfooter-font-size--link);
    font-style: normal;
    font-weight: var(--_nys-globalfooter-font-weight--semibold);
    line-height: var(--_nys-globalfooter-line-height--link);
    letter-spacing: var(--_nys-globalfooter-letter-spacing);
  }

  ul li > span + ul li a {
    font-weight: var(--_nys-globalfooter-font-weight--regular);
  }

  a:visited {
    color: var(--_nys-globalfooter-color);
  }

  a:hover {
    color: var(--_nys-globalfooter-color);
    text-decoration: underline;
  }

  a:focus,
  a:focus-visible {
    color: var(--_nys-globalfooter-color);
    text-decoration: none;
  }

  a:active {
    text-decoration: underline;
    color: var(--_nys-globalfooter-color);
    text-decoration-thickness: var(
      --_nys-globalfooter-text-decoration-thickness
    );
  }

  /** Column Menus **/
  ul li:has(span ~ ul) {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  ul:has(li > span ~ ul) {
    --_nys-globalfooter-column-gap: var(--nys-space-500, 40px);
  }

  ul li > span ~ ul {
    display: flex;
    flex-direction: column;
    gap: var(--nys-space-200, 16px);
  }

  .divider {
    margin-top: var(--_nys-globalfooter-margin--divider);
    margin-bottom: var(--nys-space-300, 24px);
  }

  /* Breakpoints using NYSDS Guidelines (Menu Links) */
  @media (width >= 768px) {
    ul {
      flex-direction: row;
    }

    ul li:has(span ~ ul) {
      flex: 1 0 205px;
    }
  }
}
